<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.bookscanner2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/smalllogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddNewBookActivity" />
        <activity
            android:name=".activities.BookListActvity"
            android:label="@string/title_activity_book_list_actvity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CreateStudentActivity"
            android:label="@string/title_activity_create_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CreateClassroomActivity"
            android:label="@string/title_activity_create_classroom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SelectClassroomActivity"
            android:label="@string/title_activity_select_classroom"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>